/* full site */
html, body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #faf9f9;
    color: #0F0E0E;
    margin: 0;
}

.main-content {
/*    min-height: 150vh;*/
    z-index: 1;
    background-color: #faf9f9;
    width: 100%;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}



/* header and contact links */

header nav {
    position: relative;
    float: right;
    padding-top: 2em;
}

a {
    position: relative;
    text-decoration: none;
    color: #0F0E0E;
    border-bottom: 1px solid #0F0E0E;
    transition: color 0.2s;
}

a.arrow-link {
    width: max-content;
    display: block;
    padding-bottom: 3px;
    margin-right: 35px;
    margin-bottom: 15px;
}

a.inline-link {
    display: inline-block;
    margin-bottom: 0;
    border-bottom: none;
    color: #EA612E;
}

a.inline-link:hover {
    border-bottom: none;
    text-decoration: underline;
}

a.arrow-link::before {
    display: inline-block;
    content: " ";
    background-image:url(../images/home/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 9.5px;
    width: 9.5px;
    padding-right: 15px;
}

a.arrow-link:hover::before {
    background-image:url(../images/home/arrow_blue.svg);
}

a:hover {
    color:#EA612E;
    border-bottom: 1px solid #EA612E;
}

.project-div:hover {
    color: #0F0E0E;
}

input {
    color: transparent;
    background-color: transparent;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    font-size: 1px;
}

input:focus {
    outline: none;
}

input::selection {
    background: #faf9f9;
}

/* introduction section */


h1 {
    font-family: campaign, sans-serif;
    font-size: 4.5rem;
    text-align: center;
}


h1 .outline {
    color: #000;
    -webkit-text-fill-color: #faf9f9;
    -webkit-text-stroke: 0.5px #000;
    paint-order: fill stroke;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translate(0, 30px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

h1, 
nav a, 
div.scroll-CTA {
    animation: fade 1s ease both;
}

h1 {
    animation-delay: 0.5s;
}

nav a {
    animation-delay: 0.8s;
}

div.scroll-CTA {
    animation-delay: 1.5s;
}

.intro {
    padding-top: 30vh;
    padding: 30vh 20px 0 20px;
}

.hero {
    height: 100%;
}


/* Scroll Down CTA & Mouse Animation */

.scroll-CTA {
    opacity: 0.8;
    position: absolute;
    bottom: 3em;
    left: 0;
    right: 0;
    margin: auto;
}


.hero p {
    font-size: 14px;
    color:#505050;
    text-align: center;
}

.scroll {
    width :10px;
    height: 10px;
    margin: auto;
    padding-left: 5px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

.scroller {
    border: solid #505050;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
}

.scroller {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-5px);
  }
}


/* projects section */


.projects .container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
}

.projects .container {
    padding-bottom: 100px;
    margin: 0 auto 480px auto;
}

.project {
    position: relative;
    margin: 30px auto;
    padding: 20px;
    width: 45%;
}

.project-image {
    width: 500px;
    height: 600px;
    background-position: center;
    background-size: 110%;
    transition: background-size .5s;
}

.project:hover .project-image {
    background-size: 120%, 120%;
}

div.boston-calling {
    background-image: url(../images/home/BostonCalling_Homepage.jpg);
}

div.chamfr {
    background-image: url(../images/home/Chamfr_Homepage.jpg);
}

div.greendot {
    background-image: url(../images/home/GreenDot_Homepage.jpg);
}

div.amazon-music {
    background-image: url(../images/home/AmazonMusic_Homepage.jpg);
}

div.in-the-moment {
    background-image: url(../images/home/InTheMoment_Homepage.jpg);
    background-position: bottom;
}

div.altogether {
    background-image: url(../images/home/ALTogether_Homepage.jpg);
}

.project-title {
    margin-top: 30px;
}

h3 {
    color: #505050;
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

h2 {
    font-family: campaign, sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.2;
    margin: -5px 0 20px 0;
}


/* about me section */


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

footer.about-me {
    background-color: #0F0E0E;
    color: #faf9f9;
    font-size: 1rem;
    padding: 50px 0;
}

.about-me .container {
    max-width: 800px;
    overflow: hidden;
}

.about-me img {
    width: 330px;
    height: auto;
    float: left;
    margin-right: 30px;
    border-radius: 100%;
}

.about-me .blurb {
    width: 50%;
    float: right;
}

.blurb h2 {
    margin-bottom: -5px;
    line-height: 1.2;
}

.blurb p {
    font-weight: 200;
    line-height: 1.4;
}

.blurb a {
    color: #EA612E;
    border-bottom: 1px solid #EA612E;   
}

.blurb a::before {
    background-image:url(../images/home/arrow_blue.svg);
}


.blurb a:hover {
    color: #FF9972;
    border-bottom: 1px solid #FF9972;
}

.blurb a:hover::before {
    background-image:url(../images/home/arrow_light-blue.svg);
}






/* media queries */
@media (max-width: 1215px) {
   
    h1 {
    font-size: 6vw;
}
    
    
}


@media (max-width: 1120px) {
    
.intro {
        padding: 30vh 40px 0 40px;
    }
    
        h1 {
            font-size: 5.5vw;
}
    
.projects .container {
    padding-bottom: 100px;
    margin: 0 auto 650px auto;
}
    
.project {
        width: 90%;
    }
    
.project-image {
        width: 100%;
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
.project:hover .project-image {
    background-size: cover;
}

.about-me img {
    display: block;
    width: 30%;
    float: none;
    margin: 0px auto;
    padding-bottom: 20px;
}

.about-me .blurb {
    width: 65%;
    float: none;
    margin: 0px auto;
}
    
    
}


@media (max-width: 580px) {
    h1 {
        font-size: 30px;
    }
    
.intro {
        padding: 24vh 60px 0 60px;
    }
    
    .projects .container {
        padding-bottom: 100px;
        margin: 0 auto 650px auto;
}
    
.project-image {
        width: 100%;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .about-me img {
        width: 40%;
    }
    
.about-me .blurb {
    width: 80%;
    float: none;
    margin: 0px auto;
}
}


@media (max-width: 500px) {
    .projects .container {
        padding-bottom: 100px;
        margin: 0 auto 720px auto;
}
    
}